.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
 border-width: 5px;  
 border-color: aquamarine;
 background-color: azure;
 border-radius: 4px;
 border-style: initial;
}

